@import "_styleguide.sass"
@import "_settings.sass"


.mchatContainer
    font-family: $family
    font-size: 62.5%

    display: flex
    flex-wrap: wrap
    justify-content: flex-end

    position: absolute
    bottom: 32px
    @include mchat-shadow
    
    
    @include respond-above('sm')
        width: 390px
        max-height: 540px
        border-radius: 4px
        overflow: hidden

    &--right
        left: auto

        @include respond-above('sm')
            right: 32px

        @include respond-below('sm')
            right: 16px
        
    &--left
        right: auto

        @include respond-above('sm')
            left: 32px
            
        @include respond-below('sm')
            left: 16px

.mchatTooltip

    &__text
        font-family: $family
        color: $white0
        text-transform: uppercase
        margin: 0
        padding: 0

        border-radius: 4px
        border: 1px solid $secondary

        background-color: $secondary
        box-shadow: $defaultShadow
        width: max-content
        position: absolute

        @include respond-above('sm')
            font-size: $fs-16
            padding: 8px 16px
            top: -56px

        @include respond-below('sm')
            font-size: $fs-12
            padding: 4px 8px
            top: -36px

.mchatNav
    @include reset-element
    width: 100%
    padding-left: 8px


    &__item
        @include reset-element
        font-size: $fs-16
        color: $dark-1
        margin-bottom: 8px

    &__link
        @include reset-link
        color: $dark-1
        font-weight: $fw_bold
        