/*------------------------------------*\
    Plugin: MercuriusChat
    Version:
    Author: JNZ93
    CSS Pattern: BEM(Block, element, modifier) */
/*
    .chat
    .chat__element
    .chamat__element--modifier*/
/*------------------------------------*\
    PALET OF COLORS */
/*------------------------------------*\
    TEXT STYLES */
/*------------------------------------*\
    Font Family */
/*------------------------------------*\
    FONT SIZES AND LINE HEIGHTS */
/*
    VARS, MIXINS and PATTERNS*/
/*------------------------------------*\
    MEDIA QUERIES */
.mchatMessenger {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 62.5%;
  background-color: #FFFFFF;
  max-height: 495px;
  border: 1px solid #EDF1F6;
  box-shadow: 0px 3px 6px #EDF1F6;
  overflow: hidden;
  position: absolute;
  z-index: 999; }
  @media (min-width: 768px) {
    .mchatMessenger {
      width: 360px;
      border-radius: 16px;
      bottom: 104px;
      right: 32px; } }
  @media (max-width: 767px) {
    .mchatMessenger {
      width: 320px;
      border-radius: 8px;
      bottom: 88px;
      right: 16px; } }
  .mchatMessenger--disabled {
    display: none; }
  .mchatMessenger--enabled {
    display: block; }
  .mchatMessenger__header {
    background-color: #FF5722;
    width: 100%; }
    @media (min-width: 768px) {
      .mchatMessenger__header {
        padding: 16px 32px; } }
    @media (max-width: 767px) {
      .mchatMessenger__header {
        padding: 16px 16px; } }
  .mchatMessenger__body {
    width: 100%;
    min-height: 275px;
    position: relative; }
    @media (min-width: 768px) {
      .mchatMessenger__body {
        padding: 16px; } }
    @media (max-width: 767px) {
      .mchatMessenger__body {
        padding-top: 8px;
        padding-right: 16px;
        padding-bottom: 8px;
        padding-left: 16px; } }
  .mchatMessenger__footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 48px;
    border-top: 1px solid #E5E9ED; }
  .mchatMessenger__title, .mchatMessenger__subtitle {
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 8px; }
  .mchatMessenger__subtitle {
    font-size: 16px;
    font-weight: 400;
    margin: 0; }
  .mchatMessenger__messageContainer {
    background: #EDF1F6;
    margin: 8px 0;
    padding: 8px 16px;
    margin-left: 4px;
    border-radius: 4px;
    position: relative; }
    .mchatMessenger__messageContainer::before {
      content: '';
      background-color: #EDF1F6;
      width: 55px;
      height: 15px;
      border-bottom-left-radius: 100%;
      position: absolute;
      top: 0;
      left: -12px;
      z-index: -1; }
  .mchatMessenger__messageText {
    font-size: 16px;
    font-weight: 400;
    color: #212121; }
  .mchatMessenger__wrapperInput {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
  .mchatMessenger__inputText {
    width: 80%;
    height: 40px;
    margin-left: 8px;
    border: none !important;
    outline: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    color: #757575; }

.mchat {
  box-shadow: 0px 3px 6px #E5E9ED;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 62.5%;
  width: 380px;
  height: 540px;
  border-radius: 4px;
  position: absolute;
  z-index: 999;
  overflow: hidden;
  display: none; }
  .mchat__container {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    position: relative; }
  .mchat__content {
    width: 100%;
    height: calc(100% - 64px);
    margin: 32px auto; }
    .mchat__content--flexStart {
      display: flex;
      flex-flow: row;
      align-content: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap; }
  .mchat__separator {
    width: 100%;
    height: 1px;
    margin: 8px auto;
    display: block;
    background-color: #E5E9ED; }
  .mchat__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: calc(100% - 64px);
    height: auto;
    display: flex;
    flex-flow: column; }
    .mchat__nav--posBottom {
      position: absolute;
      bottom: 48px;
      left: 32px; }
  .mchat__menuItem {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    color: #212121;
    width: 100%;
    margin-bottom: 8px;
    cursor: pointer; }
    .mchat__menuItem:hover {
      color: #212121; }
  .mchat__icon {
    margin: 0;
    padding: 0;
    list-style: none; }
    .mchat__icon--21px {
      font-size: 21px; }
    .mchat__icon--cDark {
      color: #212121; }
    .mchat__icon--rightMargin {
      margin-right: 4px; }
  .mchat__wrapperTitle {
    margin: 0;
    padding: 0;
    list-style: none;
    width: calc(100% - 48px);
    margin-left: 16px; }
  .mchat__title {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 8px; }
    .mchat__title--big {
      font-size: 28px; }
    .mchat__title--small {
      font-size: 21px; }
    .mchat__title--smaller {
      font-size: 18px; }
    .mchat__title--cDark {
      color: #212121; }
    .mchat__title--cDark0 {
      color: #757575; }
  .mchat__text {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
    margin-bottom: 16px; }
    .mchat__text--normal {
      font-size: 16px;
      line-height: 24px; }
    .mchat__text--small {
      font-size: 14px;
      line-height: 21px; }
    .mchat__text--cWhite {
      color: #FFFFFF; }
    .mchat__text--cDark {
      color: #212121; }
    .mchat__text--cDark0 {
      color: #757575; }
    .mchat__text--posBottom {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 16px;
      left: 0; }
  .mchat--right {
    right: 32px;
    bottom: 92px; }
  .mchat--topMainBackground {
    background-color: #1E272E;
    width: 100%;
    height: 45%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1; }
  .mchat--bottomMainBackground {
    background-color: #FFFFFF;
    width: 100%;
    height: 55%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1; }
  .mchat--show {
    display: flex; }

/*------------------------------------*\
    PALET OF COLORS */
/*------------------------------------*\
    TEXT STYLES */
/*------------------------------------*\
    Font Family */
/*------------------------------------*\
    FONT SIZES AND LINE HEIGHTS */
/*
    VARS, MIXINS and PATTERNS*/
/*------------------------------------*\
    MEDIA QUERIES */
.mchatContainer {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 62.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  bottom: 96px;
  display: none;
  box-shadow: 0px 3px 6px #E5E9ED; }
  @media (min-width: 768px) {
    .mchatContainer {
      width: 390px;
      max-height: 540px;
      border-radius: 4px;
      overflow: hidden; } }
  .mchatContainer--right {
    left: auto; }
    @media (min-width: 768px) {
      .mchatContainer--right {
        right: 32px; } }
    @media (max-width: 767px) {
      .mchatContainer--right {
        right: 16px; } }
  .mchatContainer--left {
    right: auto; }
    @media (min-width: 768px) {
      .mchatContainer--left {
        left: 32px; } }
    @media (max-width: 767px) {
      .mchatContainer--left {
        left: 16px; } }
  .mchatContainer--show {
    display: block; }

.mchatTooltip__text {
  font-family: "IBM Plex Sans", sans-serif;
  color: #FFFFFF;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #1E272E;
  background-color: #1E272E;
  box-shadow: 0px 3px 6px #E5E9ED;
  width: max-content;
  position: absolute;
  right: 0; }
  @media (min-width: 768px) {
    .mchatTooltip__text {
      font-size: 16px;
      padding: 8px 16px;
      top: -56px; } }
  @media (max-width: 767px) {
    .mchatTooltip__text {
      font-size: 12px;
      padding: 4px 8px;
      top: -36px; } }

.mchatNav {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  padding-left: 8px; }
  .mchatNav__item {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    color: #212121;
    margin-bottom: 8px; }
  .mchatNav__link {
    color: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #212121;
    font-weight: 700; }
  .mchatNav__icon {
    color: #1E272E;
    margin-right: 4px; }
    .mchatNav__icon--s21 {
      font-size: 21px; }

.mchatPerson {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  align-content: center; }
  .mchatPerson__thumbContainer {
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0px 3px 6px #E5E9ED;
    border-radius: 100%;
    margin-right: 16px;
    position: relative; }
    .mchatPerson__thumbContainer--48px {
      width: 48px;
      height: 48px; }
    .mchatPerson__thumbContainer--64px {
      width: 64px;
      height: 64px; }
  .mchatPerson__thumb {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    border-radius: 100%; }
  .mchatPerson__infoContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center; }
  .mchatPerson__status {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: -4px; }
    .mchatPerson__status--online {
      background-color: #0BE881; }
  .mchatPerson__name {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    color: #757575;
    margin-bottom: 2px;
    width: 100%;
    display: block; }
  .mchatPerson__role {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    color: #212121; }

.mchatContainerButtons {
  position: absolute;
  bottom: 16px; }
  .mchatContainerButtons--right {
    right: 32px;
    left: auto; }
  .mchatContainerButtons--left {
    right: auto;
    left: 32px; }

.mchatRating {
  width: auto;
  margin: 4px 0; }
  .mchatRating__icon {
    color: #ffd32a;
    margin: 0 1px; }
    .mchatRating__icon--s16 {
      font-size: 16px; }

/*
    .block
    .block__element
    .block__element--modifier*/
/*------------------------------------*\
    PALET OF COLORS */
/*------------------------------------*\
    TEXT STYLES */
/*------------------------------------*\
    Font Family */
/*------------------------------------*\
    FONT SIZES AND LINE HEIGHTS */
/*
    VARS, MIXINS and PATTERNS*/
/*------------------------------------*\
    MEDIA QUERIES */
.mchatHeader, .mchatBody {
  background-color: #1E272E;
  height: 210px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 32px; }
  .mchatHeader__content {
    margin-right: 16px; }
    .mchatHeader__content:last-child {
      margin: 0; }
  .mchatHeader__title {
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 8px; }
  .mchatHeader__description {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    list-style: none; }

/*------------------------------------*\
    PALET OF COLORS */
/*------------------------------------*\
    TEXT STYLES */
/*------------------------------------*\
    Font Family */
/*------------------------------------*\
    FONT SIZES AND LINE HEIGHTS */
/*
    VARS, MIXINS and PATTERNS*/
/*------------------------------------*\
    MEDIA QUERIES */
.mchatBody {
  background-color: #FFFFFF;
  padding-bottom: 16px;
  height: 320px;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-end; }
  .mchatBody__title {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 8px; }
  .mchatBody__label {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    color: #212121; }
  .mchatBody__desc {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    color: #757575;
    margin-bottom: 8px; }
  .mchatBody__content {
    width: 100%;
    margin-bottom: 16px; }
  .mchatBody__containerResults {
    background-color: #FFFFFF;
    width: calc(100% - 32px);
    height: 390px;
    padding: 16px;
    border-radius: 4px;
    position: absolute;
    left: 16px;
    overflow: auto; }
    .mchatBody__containerResults::-webkit-scrollbar {
      width: 5px; }
    .mchatBody__containerResults::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .mchatBody__containerResults::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
  .mchatBody__gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    margin-bottom: 8px;
    overflow: hidden; }
  .mchatBody__thumb {
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0px 3px 6px #E5E9ED;
    margin-right: 4px; }
    .mchatBody__thumb--128px {
      width: 128px;
      height: 128px; }

.mchatBody__footer {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center; }

/*------------------------------------*\
    PALET OF COLORS */
/*------------------------------------*\
    TEXT STYLES */
/*------------------------------------*\
    Font Family */
/*------------------------------------*\
    FONT SIZES AND LINE HEIGHTS */
/*
    VARS, MIXINS and PATTERNS*/
/*------------------------------------*\
    MEDIA QUERIES */
.mCard__container {
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0px 3px 6px #E5E9ED;
  background-color: #FFFFFF;
  width: calc(100% - 32px);
  height: fit-content;
  border-radius: 4px;
  padding: 16px;
  position: absolute;
  top: 140px;
  left: 16px; }
  .mCard__container--scroll {
    box-shadow: none;
    overflow: auto;
    height: 380px; }
    .mCard__container--scroll::-webkit-scrollbar {
      width: 5px; }
    .mCard__container--scroll::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .mCard__container--scroll::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.mCard__services {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
  box-shadow: 0px 3px 6px #E5E9ED;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.mCard__wrapper {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-flow: row; }

.mCard__wrapperThumb {
  width: 64px;
  height: 64px;
  margin-right: 8px; }

.mCard__wrapperTitle {
  width: calc(100% - 72px);
  height: auto; }

.mCard__wrapperDesc {
  width: 60%;
  height: auto;
  margin-right: 8px; }

.mCard__boxPrice {
  width: calc(40% - 8px);
  height: auto; }

.mCard__separator {
  background-color: #E5E9ED;
  width: 100%;
  height: 1px;
  margin: 8px 0px; }

.mCard__link {
  text-decoration: none; }
  .mCard__link:hover {
    text-decoration: underline;
    color: #757575; }

.mCard__title {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #212121; }

.mCard__desc {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #757575; }

.mCard__price {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  color: #212121; }

.mCard__label {
  font-size: 12px;
  font-weight: 400;
  color: #757575;
  margin-top: 4px; }

.mCard__support {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: auto;
  margin: 16px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center; }

.mCard__thumbContainer {
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0px 3px 6px #E5E9ED;
  border-radius: 100%;
  margin-right: 16px;
  position: relative; }
  .mCard__thumbContainer--48px {
    width: 48px;
    height: 48px; }
  .mCard__thumbContainer--64px {
    width: 64px;
    height: 64px; }

.mCard__thumb {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%; }
  .mCard__thumb--radius100 {
    border-radius: 100%; }

.mCard__infoContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center; }

.mCard__status {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: -4px; }

.mCard--online {
  background-color: #0BE881; }

.mCard__name {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  color: #212121;
  margin-bottom: 2px;
  width: 100%;
  display: block; }

.mCard__role {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 700;
  text-transform: capitalize;
  color: #757575; }

.mchatCard {
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0px 3px 6px #E5E9ED;
  background-color: #FFFFFF;
  width: calc(100% - 32px);
  height: auto;
  border-radius: 4px;
  padding: 16px;
  position: absolute;
  top: 140px;
  left: 16px; }
  .mchatCard__title {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    color: #757575;
    margin-bottom: 16px; }

.mchatCardProduct {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
  box-shadow: 0px 3px 6px #E5E9ED;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }
  .mchatCardProduct__container {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-flow: row; }
  .mchatCardProduct__wrapperThumb {
    width: 64px;
    height: 64px;
    margin-right: 8px; }
  .mchatCardProduct__wrapperTitle {
    width: calc(100% - 72px);
    height: auto; }
  .mchatCardProduct__wrapperDesc {
    width: 60%;
    height: auto;
    margin-right: 8px; }
  .mchatCardProduct__boxPrice {
    width: calc(40% - 8px);
    height: auto; }
  .mchatCardProduct__separator {
    background-color: #E5E9ED;
    width: 100%;
    height: 1px;
    margin: 8px 0px; }
  .mchatCardProduct__link {
    text-decoration: none; }
    .mchatCardProduct__link:hover {
      text-decoration: underline;
      color: #757575; }
  .mchatCardProduct__title {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #212121; }
  .mchatCardProduct__desc {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #757575; }
  .mchatCardProduct__price {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    color: #212121; }
  .mchatCardProduct__label {
    font-size: 12px;
    font-weight: 400;
    color: #757575;
    margin-top: 4px; }

.mchatCardDetails {
  background-color: #FFFFFF;
  width: 100%; }
  .mchatCardDetails__container {
    margin-bottom: 16px; }
  .mchatCardDetails__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-flow: row;
    overflow: hidden; }
  .mchatCardDetails__item {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 96px;
    height: 96px;
    margin-right: 8px;
    box-shadow: 0px 3px 6px #E5E9ED; }
  .mchatCardDetails__desc {
    font-size: 16px;
    line-height: 24px;
    color: #757575;
    font-weight: 400; }

.mchatCardFaq {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #FDFDFD;
  width: 100%;
  height: 48px;
  padding: 8px;
  overflow: hidden;
  border: 1px solid #E5E9ED;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: 16px;
  flex-flow: wrap; }
  .mchatCardFaq__content {
    border-top: 1px solid #E5E9ED;
    margin-top: 8px;
    padding-top: 8px; }
    .mchatCardFaq__content--hide {
      display: none; }
    .mchatCardFaq__content--show {
      display: block; }
  .mchatCardFaq__title {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    color: #212121;
    position: relative; }
  .mchatCardFaq__text {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #757575; }
  .mchatCardFaq__icon {
    position: absolute;
    right: 0;
    top: 2px; }
    .mchatCardFaq__icon--f21 {
      font-size: 21px; }
  .mchatCardFaq--expand {
    height: auto; }

/*------------------------------------*\
    PALET OF COLORS */
/*------------------------------------*\
    TEXT STYLES */
/*------------------------------------*\
    Font Family */
/*------------------------------------*\
    FONT SIZES AND LINE HEIGHTS */
/*
    VARS, MIXINS and PATTERNS*/
/*------------------------------------*\
    MEDIA QUERIES */
.mchatBtn {
  border: 0;
  border-radius: 0;
  background: none;
  outline: none;
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer;
  display: inline-block; }
  .mchatBtn:hover, .mchatBtn:focus, .mchatBtn:active, .mchatBtn:visited {
    background-color: inherit; }
  .mchatBtn__send {
    background: #E5E9ED;
    border: none;
    width: 48px;
    height: 48px;
    overflow: hidden; }
  .mchatBtn__openAndClose {
    background-color: #1E272E;
    border-radius: 100%; }
    @media (min-width: 768px) {
      .mchatBtn__openAndClose {
        width: 64px;
        height: 64px; } }
    @media (max-width: 767px) {
      .mchatBtn__openAndClose {
        width: 48px;
        height: 48px; } }
    .mchatBtn__openAndClose:hover {
      background-color: #FF5722;
      box-shadow: 0px 3px 6px #E5E9ED; }

.mchatIcon {
  width: 100%;
  height: 100%;
  display: inline-block; }
  .mchatIcon__send {
    background-image: url(../icons/icon_send.svg);
    color: #FF5722;
    fill: #FF5722;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px; }
  .mchatIcon__messenger, .mchatIcon__close {
    background-image: url("../icons/icon_messenger.svg");
    color: #FFFFFF;
    fill: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center; }
    @media (min-width: 768px) {
      .mchatIcon__messenger, .mchatIcon__close {
        background-size: 40px; } }
    @media (max-width: 767px) {
      .mchatIcon__messenger, .mchatIcon__close {
        background-size: 30px; } }
  .mchatIcon__close {
    background-image: url("../icons/icon_close.svg"); }
    @media (min-width: 768px) {
      .mchatIcon__close {
        background-size: 56px; } }
    @media (max-width: 767px) {
      .mchatIcon__close {
        background-size: 40px; } }
  .mchatIcon--disabled {
    display: none; }
  .mchatIcon--enabled {
    display: inline-block; }

.btnPrimary {
  background: none !important;
  border: none !important;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #1E272E !important;
  width: 100%;
  height: auto;
  padding: 16px 0;
  margin-bottom: 8px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  color: #FFFFFF; }
  .btnPrimary:hover {
    background: none; }
  .btnPrimary__icon {
    color: #FFFFFF;
    margin: 0 4px; }
    .btnPrimary__icon--s21 {
      font-size: 21px; }
  .btnPrimary__text {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-right: 4px; }
  .btnPrimary--ghost {
    background: none !important;
    color: #1E272E;
    border: 1px solid #1E272E !important; }

.btnSimple {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 4px;
  cursor: pointer; }
  .btnSimple__icon {
    color: #FFFFFF; }
    .btnSimple__icon--24px {
      width: 24px !important;
      height: 24px !important; }
  .btnSimple__label {
    font-size: 12px;
    color: #FFFFFF;
    display: block;
    display: none; }
