/*------------------------------------*\
    Plugin: MercuriusChat
    Version:
    Author: JNZ93
    CSS Pattern: BEM(Block, element, modifier) */
/*------------------------------------*\
    PALET OF COLORS */
/*------------------------------------*\
    TEXT STYLES */
/*------------------------------------*\
    Font Family */
/*------------------------------------*\
    FONT SIZES AND LINE HEIGHTS */
/*
    VARS, MIXINS and PATTERNS*/
/*------------------------------------*\
    MEDIA QUERIES */
.mchatBtn {
  border: 0;
  border-radius: 0;
  background: none;
  outline: none;
  margin: 0 !important;
  padding: 0 !important; }
  .mchatBtn:hover, .mchatBtn:focus, .mchatBtn:active, .mchatBtn:visited {
    background-color: inherit; }
  .mchatBtn__send {
    background: #E5E9ED;
    border: none;
    width: 48px;
    height: 48px;
    overflow: hidden; }
  .mchatBtn__openAndClose {
    background-color: #FF5722;
    border-radius: 100%; }
    @media (min-width: 768px) {
      .mchatBtn__openAndClose {
        width: 64px;
        height: 64px; } }
    @media (max-width: 767px) {
      .mchatBtn__openAndClose {
        width: 48px;
        height: 48px; } }
    .mchatBtn__openAndClose:hover {
      background-color: #FF5722;
      box-shadow: 0px 3px 6px #E5E9ED; }

.mchatIcon {
  width: 100%;
  height: 100%;
  display: inline-block; }
  .mchatIcon__send {
    background-image: url(../icons/icon_send.svg);
    color: #FF5722;
    fill: #FF5722;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px; }
  .mchatIcon__messenger, .mchatIcon__close {
    background-image: url("../icons/icon_messenger.svg");
    color: #FFFFFF;
    fill: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center; }
    @media (min-width: 768px) {
      .mchatIcon__messenger, .mchatIcon__close {
        background-size: 40px; } }
    @media (max-width: 767px) {
      .mchatIcon__messenger, .mchatIcon__close {
        background-size: 30px; } }
  .mchatIcon__close {
    background-image: url("../icons/icon_close.svg"); }
    @media (min-width: 768px) {
      .mchatIcon__close {
        background-size: 56px; } }
    @media (max-width: 767px) {
      .mchatIcon__close {
        background-size: 40px; } }
  .mchatIcon--disabled {
    display: none; }
  .mchatIcon--enabled {
    display: inline-block; }

/*
    .chat
    .chat__element
    .chamat__element--modifier*/
/*------------------------------------*\
    PALET OF COLORS */
/*------------------------------------*\
    TEXT STYLES */
/*------------------------------------*\
    Font Family */
/*------------------------------------*\
    FONT SIZES AND LINE HEIGHTS */
/*
    VARS, MIXINS and PATTERNS*/
/*------------------------------------*\
    MEDIA QUERIES */
.mchatMessenger {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 62.5%;
  background-color: #FFFFFF;
  max-height: 495px;
  border: 1px solid #EDF1F6;
  box-shadow: 0px 3px 6px #EDF1F6;
  overflow: hidden;
  position: absolute;
  z-index: 999; }
  @media (min-width: 768px) {
    .mchatMessenger {
      width: 360px;
      border-radius: 16px;
      bottom: 104px;
      right: 32px; } }
  @media (max-width: 767px) {
    .mchatMessenger {
      width: 320px;
      border-radius: 8px;
      bottom: 88px;
      right: 16px; } }
  .mchatMessenger--disabled {
    display: none; }
  .mchatMessenger--enabled {
    display: block; }
  .mchatMessenger__header {
    background-color: #FF5722;
    width: 100%; }
    @media (min-width: 768px) {
      .mchatMessenger__header {
        padding: 16px 32px; } }
    @media (max-width: 767px) {
      .mchatMessenger__header {
        padding: 16px 16px; } }
  .mchatMessenger__body {
    width: 100%;
    min-height: 275px;
    position: relative; }
    @media (min-width: 768px) {
      .mchatMessenger__body {
        padding: 16px; } }
    @media (max-width: 767px) {
      .mchatMessenger__body {
        padding-top: 8px;
        padding-right: 16px;
        padding-bottom: 8px;
        padding-left: 16px; } }
  .mchatMessenger__footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 48px;
    border-top: 1px solid #E5E9ED; }
  .mchatMessenger__title, .mchatMessenger__subtitle {
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 8px; }
  .mchatMessenger__subtitle {
    font-size: 16px;
    font-weight: 400;
    margin: 0; }
  .mchatMessenger__messageContainer {
    background: #EDF1F6;
    margin: 8px 0;
    padding: 8px 16px;
    margin-left: 4px;
    border-radius: 4px;
    position: relative; }
    .mchatMessenger__messageContainer::before {
      content: '';
      background-color: #EDF1F6;
      width: 55px;
      height: 15px;
      border-bottom-left-radius: 100%;
      position: absolute;
      top: 0;
      left: -12px;
      z-index: -1; }
  .mchatMessenger__messageText {
    font-size: 16px;
    font-weight: 400;
    color: #212121; }
  .mchatMessenger__wrapperInput {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
  .mchatMessenger__inputText {
    width: 80%;
    height: 40px;
    margin-left: 8px;
    border: none !important;
    outline: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    color: #757575; }

/*------------------------------------*\
    PALET OF COLORS */
/*------------------------------------*\
    TEXT STYLES */
/*------------------------------------*\
    Font Family */
/*------------------------------------*\
    FONT SIZES AND LINE HEIGHTS */
/*
    VARS, MIXINS and PATTERNS*/
/*------------------------------------*\
    MEDIA QUERIES */
.mchatContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  bottom: 32px; }
  .mchatContainer--right {
    left: auto; }
    @media (min-width: 768px) {
      .mchatContainer--right {
        right: 32px; } }
    @media (max-width: 767px) {
      .mchatContainer--right {
        right: 16px; } }
  .mchatContainer--left {
    right: auto; }
    @media (min-width: 768px) {
      .mchatContainer--left {
        left: 32px; } }
    @media (max-width: 767px) {
      .mchatContainer--left {
        left: 16px; } }

.mchatTooltip__text {
  font-family: "IBM Plex Sans", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #FF5722;
  background-color: #FF5722;
  box-shadow: 0px 3px 6px #E5E9ED;
  width: max-content;
  position: absolute; }
  @media (min-width: 768px) {
    .mchatTooltip__text {
      font-size: 16px;
      padding: 8px 16px;
      top: -56px; } }
  @media (max-width: 767px) {
    .mchatTooltip__text {
      font-size: 12px;
      padding: 4px 8px;
      top: -36px; } }
