@import "_styleguide.sass"
@import "_settings.sass"

.mchatBtn
    border: 0
    border-radius: 0
    background: none
    outline: none
    margin: 0 !important
    padding: 0 !important

    &:hover
        background-color: inherit

    &__send
        background: $light-1
        border: none
        width: 48px
        height: 48px

        overflow: hidden

    &__openAndClose
        width: $widthBtnDesktop
        height: $heightBtnDesktop
        background-color: $secondary
        border-radius: 100%

        &:hover
            background-color: $secondary
            box-shadow: $defaultShadow


.mchatIcon
    width: 100%
    height: 100%
    display: inline-block

    &__send
        background-image: $srcIconSend
        color: $secondary
        fill: $secondary
        background-repeat: no-repeat
        background-position: center
        background-size: 32px

    &__messenger
        background-image: $srcIconMessenger
        color: $white0
        fill: $white0
        background-repeat: no-repeat
        background-position: center
        background-size: 40px

    &__close
        @extend .mchatIcon__messenger
        background-image: $srcIconClose
        background-size: 56px


    &--disabled
        display: none

    &--enabled
        display: inline-block