@import "_styleguide.sass"
@import "_settings.sass"


.mchatContainer
    width: auto
    height: auto

    position: absolute
    bottom: 32px

    &--right
        right: 32px
        left: auto
    
    &--left
        left: 32px
        right: auto

.mchatTooltip
    &__wrapper
        padding: 4px 8px
        border-radius: 4px
        border: 1px solid $secondary

        display: inline-flex
        align-items: center
        justify-content: center


    &__text
        font-family: $family
        font-size: $fs-16
        color: $secondary
        margin: 0
        padding: 0