/*
    VARS, MIXINS and PATTERNS*/

$widthChatDesktop: 390px
$heightChatDesktop: 495px

// Paddings
$defaultPaddingDesktop: 32px
$halfDefaultPaddingDesktop: $defaultPaddingDesktop / 2


// Margins
$defaultMarginDesktop: 8px

// MIXINS
