/*
    VARS, MIXINS and PATTERNS*/

$widthChatDesktop: 360px
$heightChatDesktop: 495px

// Paddings
$defaultPaddingDesktop: 32px
$halfDefaultPaddingDesktop: $defaultPaddingDesktop / 2

// Margins
$defaultMarginDesktop: 8px

// Botões
$widthBtnDesktop: 64px
$heightBtnDesktop: $widthBtnDesktop

// Icons
$srcIconSend: url(../icons/icon_send.svg)
$srcIconMessenger: url('../icons/icon_chat.svg')
$srcIconClose: url('../icons/icon_close.svg')

// MIXINS
